[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    diffc = diff --cached
    s = status -s
    files = diff --name-only
    last = diff --name-only HEAD^!
[user]
	email = adam@sixohthree.com
	name = Adam Backstrom
